body{
    font-family: 'Rubik', sans-serif;
}
.active{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 100px;
}

.menu-item{
    text-decoration: none;
    margin-right: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #4E5983;
}
.logo{
    flex: 0.4;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.6;
}
.menu-icon{
    display: none;
}
.login-button{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4E5983;
    background-color: #fff;
    border: none;
    margin-right: 17px;
}
.register-button{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center; 
    color: #4E5983;
    border: none;
    background: #A17FFF 0.11;
    border-radius: 9px;
    padding: 20px 14px;
}
.container{
    width: 80%;
    margin: auto;
}
.calculator-container{
    width: 80%;
    margin: auto;
}
.exchange-service{
    background: linear-gradient(156.96deg, #562EC2 29.59%, #A07EFE 73.59%);
    border-radius: 17px;
    padding-bottom: 120px;
}
.title{
    font-weight: bold;
    font-size: 60px;
    line-height: 111.9%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 110px;

}
.calculator{
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 4px solid #F7F8FD;
    box-sizing: border-box;
    border-radius: 26px;
    justify-content: space-around;
    align-items: flex-end;
}

.calc-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4E5983;
    margin-top: 78px;
}
.calc-title span{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #4E5983;
    margin-left: 15px;
}
.summ-title{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4E5983;
    opacity: 0.5;
    margin: 0;
    margin-top: 20px;
}
.valute{
    display: flex;
    align-items: center;
}
.border-block{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(214,220,226, 0.75);
    padding-top: 15px;
    padding-bottom: 5px;
}
.summ{
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-right: 1px solid #CFD4DA;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.015e;
    color: #094067;
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.015e;
    color: #094067;
  }
  
  :-ms-input-placeholder {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.015e;
    color: #094067;
  }
  
  ::placeholder {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.015e;
    color: #094067;
  }
  .calc-img{
      padding: 0 10px;
  }
  .set-valute{
    background: url(../img/arr_down.png) no-repeat right center;
    padding-right: 15px;
    border: none;
    color: #094067;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
  .change-icon{
      margin-left: 50px;
  }
  .change-button{
    height: 60px;
    padding: 20px 28px;
    background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
    opacity: 0.8;
    border-radius: 9px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
  }

.advantages{
    display: flex;
    justify-content: space-between;
}
.card{
    flex: 0.25;
    margin-top: 80px;
    margin-bottom: 100px;
}
.card-image{
    width: 150px;
    height: 150px;
}
.card-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #4E5983;
    margin-bottom: 30px;
}   

.card-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 166.5%;
    color: #4E5983;
    opacity: 0.7;
}

.exchange-container{
    background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
    opacity: 0.8;
    width: 100%;

}
.exchange{
    width: 80%;
    margin: 0 auto;
}
.exchange-contant{
    border-radius: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 4px solid #F7F8FD;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 13px 5px -6px #EFF2FA;
    -moz-box-shadow: 0px 13px 5px -6px #EFF2FA;
    box-shadow: 0px 13px 5px -6px #EFF2FA;
}
.exchange-text{
    margin-left: 150px;
}
.exchange-title{
    margin-top: 100px;
    margin-bottom: 20px;    
    font-weight: 500;
    font-size: 35px;
    line-height: 132.4%;
    color: #160647;
}
.exchange-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 166.5%;
    color: #4E5983;
    opacity: 0.7;
    margin-bottom: 90px;
}
.reserve-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 111.9%;
    text-align: center;
    color: #160647;
    margin-top: 100px;
    margin-bottom: 80px;
}
.valute-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.valute-card{
    display: flex;
    width: 245px;
    margin-bottom: 60px;    
    align-items: center;
}
.valute-btn{
    display: none;
}

.valute-icon{
    margin-right: 20px;
}
.valute-name{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A4AABF;
}
.valute-price{
    font-size: 20px;
    line-height: 155.5%;
    color: #160647;
}
.review-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 132.4%;
    color: #160647;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
}
.review-cards{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.review-card{
    flex: 0.45;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-text{
    font-size: 18px;
    line-height: 166%;
    color: #4E5983;
    opacity: 0.7;
    margin-bottom: 40px;
}
.name-date{
    margin-top: 20px;
}
.name{
    font-size: 20px;
    line-height: 155.5%;
    color: #160647;
    margin-right: 25px;
    margin-bottom: 140px;   
}

.date{
    font-size: 14px;
    line-height: 17px;
    color: #838BA8;
}
.prev-next{
    float: right;
}
.review-btn{
    background: inherit;
    border: none;
    margin-left: 18px;
    margin-top: 40px;
}
.trade-container{
    margin: 160px auto;
    width: 90%;
}
.lets-trade{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(163.51deg, #562EC2 29.59%, #A07EFE 73.59%);
    opacity: 0.8;
    border-radius: 17px;
    position: relative;
    -webkit-box-shadow: 0px 13px 67px 11px rgba(106,104,110,0.92);
    -moz-box-shadow: 0px 13px 67px 11px rgba(106,104,110,0.92);
    box-shadow: 0px 13px 67px 11px rgba(106,104,110,0.92);
    margin-bottom: 140px;
}

.trade-img{
    position: absolute;
    top: -180px;
    left: -80px;
}
.trade-contant{
    flex: 0.4;
    margin-right: 100px;    
}

.trade-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 132.4%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.trade-text{
    font-size: 18px;
    line-height: 166.5%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 50px;
}
.trade-btn{
    font-weight: 500;
    font-size: 15.9618px;
    line-height: 19px;  
    text-align: center;
    color: #9F7DFD;
    padding: 25px 35px;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 10.2611px;
    border: none;
    margin-bottom: 140px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 17px;
    color: #838BA8;
}
.footer-item{
    margin-left: 40px;
    font-size: 14px;
    line-height: 17px;
    color: #4E5983;
    text-decoration: none;
}
.social-img{
    margin-left: 30px;
}

@media (max-width: 1250px){
    .container{
        width: 90%;
    }
    .header{
        margin: 30px 40px;
    }
    .calculator-container{
        width: 50%;
    }
    .calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .change-button{
        margin-top: 20px;
    }
    .change-icon{
        margin: 0;
        margin-top: 20px;
    }
    .card{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .title{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .you-give{
        margin: 0;
        
    }
    .calc-title{
        margin: 0;
        margin-top: 30px;
    }

    .exchange{
        width: 90%;
    }
    .exchange-image img{
        width: 500px;
    }
    .exchange-title{
        margin-top: 50px;
        font-size: 30px;
    }
    .exchange-p{
        margin-bottom: 50px;
    }
    .reserve-title{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        }
    .valute-card{
        width: 220px;
        margin-bottom: 30px;
    }
    .valute-name{
        font-size: 14px;
    }
    .valute-price{
        font-size: 16px;
    }
    .review-title{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    
    .review-text{
        margin: 0;
        font-size: 16px;
    }
    .trade-img{
        top: -20px;
        left: 0;
    }
    .trade-img img{
        width: 500px;
        height: 500px;
    }
    .trade-title{
        font-size: 30px;
    }
    .trade-btn{
        margin-bottom: 50px;
    }
    .footer-item{
        margin-left: 20px;
    }
    .social-img{
        margin-left: 15px;
    }

}
@media (max-width: 992px){
    .header{
        margin: 15px 15px; 
    }
    .menu-item{
        margin-right: 15px;
        font-size: 15px;
    }
 
    .calculator-container{
        width: 70%;
    }

    .change-button{
        margin-left: 30px;
    }
    .login-button{
        font-size: 15px;
        margin-right: 10px;
    }
    .register-button{
        font-size: 15px;
        padding: 15px 10px;
    }
    .title{
        font-size: 50px;
    }
    .card-image{
        width: 100px;
        height: 100px;
    }
    .card-title{
        margin: 15px 0;
    }
    .card-text{
        font-size: 16px;
    }
    .exchange{
        width: 90%;
    }
    .exchange-image img{
        width: 300px;
    }
    .exchange-title{
        font-size: 25px;
    }
    .exchange-p{
        font-size: 16px;
    }
    .exchange-text{
        margin-left: 10%;
    }
    .reserve-title{
        margin: 30px 0;
    }
    .valute-card{
        width: 300px;
        height: 70px;
        margin-bottom: 10px;

    }
    .trade-contant{
        margin-right: 50px;
    }
    .trade-img{
        left: -9%;
    }
    .footer-logo{
        display: none;
    }
    .trade-container{
        margin-bottom: 0px;
    }
    .lets-trade{
        margin-bottom: 0;
    }
    .footer-text{
        display: none;
    }
    .footer{
        margin: 40px 0;
    }

}
@media (max-width: 768px){
    .header{
        margin: 20px 10%;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .menu-item{
        margin: 0;
        margin-top: 10px;
    }
    .topnav{
        margin-left: 3%;
        display: none;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .login{
        display: flex;
        flex-direction: column;
        order: 1;
        border-bottom: 2px solid rgba(214,220,226, 0.75);
        margin-left: 20px;
    }
    .login-button{
        margin: 0;
        margin-top: 15px;
        padding: 0;
        text-align: start;
        font-size: 18px;
    }
    .register-button{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        background: inherit;
        font-weight: normal;
        font-size: 18px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        order: 0;
    }
    .menu-item{
        text-align: start;
        font-size: 18px;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .title{
        font-size: 40px;
    }
    .calculator-container{
        width: 80%;
    }
    .calculator{
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .change-button{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .change-icon{
        width: 126px;
    }
    .valute{
        flex-wrap: wrap;
    }
    .you-give{
        justify-content: center;
    }
    .you-get{
        justify-content: center;
    }
    .advantages{
        flex-direction: column;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 400px;
        align-items: center;
    }
    .card-text{
        text-align: center;
    }
    .exchange{
        width: 100%;
    }
    .exchange-contant{
        flex-direction: column-reverse;
    }
    .exchange-image{
        margin-top: 50px;
    }
    .valute-cards{
        justify-content: space-around;
    }
    .valute-card{
        width: 250px;
    }
    .valute-card:nth-last-child(-n+5){
        display: none;
    }
    .valute-btn{
        display: block;
        border: none;
        width: 300px;
        background-color: inherit;
        justify-self: center;
        text-align: center;
    }
    .review-cards{
        justify-content: center;
    }
    .review-card{
        flex: 0.8;
    }
    .review-card:last-child{
        display: none;
    }
    .name{
        margin-bottom: 50px;
    }
    .lets-trade{
        justify-content: center;
    }
    .trade-title{
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    .trade-text{
        text-align: center;
    }
    .trade-contant{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0.7;
        margin: 0;
    }
    
    .trade-img{
        display: none;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-items{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-item{
        margin: 0;
    }
    .social{
        margin-top: 20px;
        align-self: flex-start;
    }
    .social-img{
        margin-left: 20px;
    }
    
}
@media (max-width: 576px){
    .container{
        width: 90%;
    }
    .header{
        margin: 20px 5%;
    }
    .title{
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .calculator-container{
        width: 100%;
    }
    .card{
        width: auto;
    }
    .summ{
        width: 140px;
    }
    .calc-title span{
        display: block;
        margin: 0;
        margin-top: 5px;
    }
    .reserve-title{
        font-size: 25px;
    }
    .review-title{
        font-size: 25px;
    }
    .trade-title{
        font-size: 25px;
    }
    .trade-text{
        font-size: 16px;
    }
    .trade-container{
        width: 100%;
    }
    .footer{
        flex-direction: row;
        margin-bottom: 20px;
    }
    .social{
        margin: 0;
    }
    .footer-items{
        flex-direction: column;
        flex: 0.5;
    }
    .footer-item{
        margin-bottom: 10px;
        font-size: 16px;
    }
}